%header.french
  %h1 La Table Francophone
  %h2 R&eacute;unions Francophones &agrave; Boulder
%section.french
  %dl
    %dt O&ugrave;?
    %dd Au #{link_to 'Bohemian Biergarten', 'http://bohemianbiergarten.com'}
    %dd Sur #{link_to 'Google Plus', 'https://plus.google.com/115895423197326086022/about'}
  %dl
    %dt Quand?
    %dd Tous les Mardi, &agrave; partir de 17h30
  %dl
    %dt Pourquoi?
    %dd Pratiquer votre Fran&ccedil;ais, rencontrer d'autres Francophones, discuter, boire un coup&hellip;
  %dl
    %dt Contactez-nous
    %dd Par #{link_to 'couriel', 'mailto:contact@latablefrancophone.org'}
    %dd Sur #{link_to 'Facebook', 'https://www.facebook.com/groups/latableboulder/'}

%header.english
  %h1 The French Table
  %h2 French speakers meetups, in Boulder

%section.english
  %dl
    %dt Where?
    %dd At the #{link_to 'Bohemian Biergarten', 'http://bohemianbiergarten.com'}
    %dd On #{link_to 'Google Plus', 'https://plus.google.com/115895423197326086022/about'}
  %dl
    %dt When?
    %dd Every Tuesday, from 5:30pm
  %dl
    %dt Why?
    %dd Practice your French, meet other French speakers, chat, have a drink&hellip;
  %dl
    %dt Contact us
    %dd By #{link_to 'email', 'mailto:contact@latablefrancophone.org'}
    %dd On #{link_to 'Facebook', 'https://www.facebook.com/groups/latableboulder/'}