%header.french
  %h1 La Table Francophone
  %h2 R&eacute;unions Francophones &agrave; Boulder
%section.french
  %dl
    %dt O&ugrave;?
    %dd Au #{link_to 'Rueben\'s Burger Bistro', 'http://ruebensburgerbistro.com/'}
  %dl
    %dt Quand?
    %dd Tous les Mardi, &agrave; partir de 19h15
  %dl
    %dt Pourquoi?
    %dd Pratiquer votre Fran&ccedil;ais, rencontrer d'autres Francophones, discuter, boire un coup&hellip;
  %dl
    %dt Contactez-nous
    %dd Par #{link_to 'couriel', 'mailto:contact@latablefrancophone.org'}
    %dd Sur #{link_to 'Google+', 'https://plus.google.com/106505102512002374596', rel: 'publisher'}
    %dd Sur #{link_to 'Facebook', 'https://www.facebook.com/groups/latableboulder/'}

%header.english
  %h1 The French Table
  %h2 French speakers meetups, in Boulder

%section.english
  %dl
    %dt Where?
    %dd At #{link_to 'Rueben\'s Burger Bistro', 'http://ruebensburgerbistro.com/'}
  %dl
    %dt When?
    %dd Every Tuesday, from 7:15pm
  %dl
    %dt Why?
    %dd Practice your French, meet other French speakers, chat, have a drink&hellip;
  %dl
    %dt Contact us
    %dd By #{link_to 'email', 'mailto:contact@latablefrancophone.org'}
    %dd On #{link_to 'Google+', 'https://plus.google.com/106505102512002374596', rel: 'publisher'}
    %dd On #{link_to 'Facebook', 'https://www.facebook.com/groups/latableboulder/'}
